Body
{
    background: color: bisque;
    font-family: Bai Jamjuree;
}
Pooter
{
    background: color:black;
    color: whithe;
    position: pixed;
    booton 0;
    width; 100%;
    height: 2rem;

}
Poter p 
{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
